@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: poppins;
    margin: 0;
    pad: 0;
}

body {
    font-size: 18px;
}

table {
    border-collapse: collapse;
}

th {
    font-size: 1.05em;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

header {
    padding-block: 1em;
    background-color: #151515;
    color: #fff;
    padding-left: 2em;
}

.main {
    padding: 2em;
}

.top, .bottom{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.ramchart {
    min-width: 36em;
}

.label {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

#diskInfo {
    height: 10px;
    overflow: scroll;
}
